nav {
    display: flex;
    justify-content: horizontal;
    justify-content: space-between;
    margin: 30px;
}

.options {
    justify-content: space-around;
}

body {
    background-image: url("image.jpg");
    background-size: cover;

}



.options {
    display: flex;
}

.travel {
    color: white;
    font-size: 35px;
}

.options a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    background-color: rgb(223, 82, 82);
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    margin-right: 50px;
    border: 0px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 20px;

}

.btn:hover {
    background: transparent;
    border: 1px solid indianred;
}

.btn2:hover {
    background: transparent;
    border: 1px solid indianred;

}

.box-container {
    justify-content: center;
    text-align: center;
    margin: 200px;
    color: rgb(242, 237, 237);
}

.btn2 {
    background-color: rgb(223, 82, 82);
    color: white;
    height: 50px;
    width: 150px;
    margin-right: 50px;
    border: 0px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: 0.4s;
}